In [1]:
import pandas as pd

df = pd.read_parquet("../data/raw/yellow_tripdata_2019-01.parquet")

In [2]:
from cab_demand_prediction_jpcn.data import validate_raw_data
from cab_demand_prediction_jpcn.data import select_and_rename_columns

df = validate_raw_data(df, year=2019, month=1)
df = select_and_rename_columns(df)

In [3]:
def aggregate_raw_data(df):
    df['pickup_hour'] = df['pickup_datetime'].dt.floor('H')
    df = df.groupby(['pickup_hour', 'location_id']).size().reset_index(name='rides')

    return df

In [4]:
df = aggregate_raw_data(df)
df

               pickup_hour  location_id  rides
0      2019-01-01 00:00:00            4     49
1      2019-01-01 00:00:00            7     25
2      2019-01-01 00:00:00           10      2
3      2019-01-01 00:00:00           11      2
4      2019-01-01 00:00:00           12      4
...                    ...          ...    ...
102774 2019-01-31 23:00:00          261     41
102775 2019-01-31 23:00:00          262     32
102776 2019-01-31 23:00:00          263    137
102777 2019-01-31 23:00:00          264    310
102778 2019-01-31 23:00:00          265     24

[102779 rows x 3 columns]